{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ajax | register</title>

        {# include favicon#}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <h1>Here is registration.</h1>
        <form method="post" action="{% url 'user_create' %}" class="registerUser" id = "user_form">
            {% csrf_token %}
            <div>
                <input id = "username" type="text" name="username">
                <label for="username">Username</label>
            </div>
            <div>
                <input id = "email" type="email" name="email">
                <label for="email">Email</label>
            </div>
            <div>
                <input id = "password" type="password" name="password">
                <label for="password">Password</label>
            </div>
            <div>
                <input type="submit" value="submit">
            </div>

        </form>
    </body>
    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {#for submission#}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </footer>
</html>